body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#background-header {
  /* height: 99.7vh; */
  width: 99.99vw;
  overflow-x: hidden;
  z-index: 0;
  position: relative;
  top: 0;
  left: 0vw;
}

#header {
  z-index: 10;
  position: absolute;
  top: 5vh;
  left: 12.5vw;
  width: 75vw;
  height: 5vh;
  background-color: brown;
  overflow-x: hidden;
}

#content {
  z-index: 10;
  position: absolute;
  top: 15vh;
  left: 25vw;
  width: 50vw;
  height: 40vh;
  background-color: brown;
  overflow-x: hidden;
}

#learn-more {
  z-index: 10;
  position: absolute;
  top: 60vh;
  left: 32.5vw;
  width: 35vw;
  height: 30vh;
  background-color: brown;
  overflow-x: hidden;
}

#create-account {
  width: 60vw;
  margin: 10vh auto;
}

#create-account-text {
  font-size: 2vw;
  text-align: center;
}

#create-account-button {
  background-color: #7172d8;
  color: white;
  padding: 20px;
  border-radius: 1vw;
  margin: 5vh auto 4vh;
  font-size: 1.8vw;
  max-width: 100%;
}

.container {
  max-width: 80vw;
  margin: auto;
  /* background-color: #7172d8; */
}
.grid-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* background-color: orange; */

}

.grid-item {
  background-color: #e4e4e4;
  margin: 15px;
  height: 15vw;
  /* flex-basis: 20%; */
  -ms-flex: auto;
  width: 38vw;
  position: relative;
  padding: 10px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid #c2c1c1;
}

.grid-content {
  margin-left: 0;
  padding: 5% 0;
}

.grid-image {
  margin-left: 0;
  float: left;
  width: 10vw;
  height: 10vw;
  background-color: grey;
  border-radius: 5px;
  color: white;
  text-align: center;
}

.grid-text-container {
  float: right;
  width: 27vw;
}

.grid-text-header {
  height: 2vw;
  width: 50%;
  overflow: hidden;
  font-weight: bold;
  text-align: left;
}

.grid-text-content {
  height: 8vw;
  text-align: left;
  overflow: hidden;
}

#line {
  background-color: darkblue;
  height: .25vw;
  border-radius: 2px;
  margin: .5vw auto 1.5vw;
  width: 7vw;
}